<p>
  single-recipe works!
</p>

<a href="/">Return Back</a>

<ul *ngIf="singleRecipe">

Dish Name:  {{ singleRecipe.name }}

<div>
<img src={{singleRecipe.image}}>
</div>

<p> Description: {{ singleRecipe.description }} </p>
</ul>

<ul *ngIf="ingredients">
  <li *ngFor="let ingredient of ingredients">
    <div>
      <div>
       {{ ingredient.name }}
      </div>
      <img src="{{ingredient.image}}">
      <div>
      {{ ingredient.description }}
      </div>
    </div>
    <div>
      <label for="quantity">Quantity</label>
      <input type="number">
      <button>Add</button>
    </div>
  </li>
</ul>