.container{
    display: flex;
    justify-content: space-between;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

img{
    width: 50%;
    height: 350px;
    
}
.ing{
    width: 80%;
    height: 100px;
}
.container-dos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}