<div class="row dish" *ngIf="dish">
  <div class="col-sm-4">
    <div class="dish-img">
      <img [src]="dish.image" [alt]="dish.title"> </div>
  </div>
  <div class="col-sm-8">
    <h2>{{dish.name}}</h2>
    <p>{{dish.description}}</p>
    <a class="button" [routerLink]="['/']">Back</a>
  </div>
</div>
<div style="padding:50px 0">
  <hr>
</div>
<div class="row">
  <div class="col-sm-4">
    <h2>Create new ingredient</h2>
    <app-ingredients-form></app-ingredients-form>
  </div>
  <div class="col-sm-8">
    <h2>List of ingredients</h2>
    <ul class="ingredient-list" *ngFor="let ing of ingred">
      <li>
        <a [routerLink]="['/',ing._id]">{{ing.name}}</a>
        <form (ngSubmit)="addIngredient(ing._id,dish._id,addIngForm)" #addIngForm="ngForm">
          <input type="number" name="qty"   value="1">
          <button>add</button>
        </form>
      </li>
    </ul>
  </div>
</div>
