<h3> Add an Ingredient</h3>


<form (ngSubmit)="saveNewIngredient()">
  <label for="ingred-name-input">Name of Ingredient</label>
  <input id="ingred-name-input" type="text" placeholder="eggs"
    name="ingredientName" [(ngModel)]="newIngredient.ingredientName"/>
  <br />

  <label for="ingred-quantity-input">Quantity</label>
  <input id="ingred-quantity-input" type="text" placeholder="5"
    name="ingredientQuantity" [(ngModel)]="newIngredient.ingredientQuantity"/>
  <br />

  <save> Add This Ingredient </save>
</form>
