<p>
  single-entry works!
</p>

<div *ngIf="!singleEntry">
  loading ...
</div>

<div *ngIf="singleEntry">
  <p>{{ singleEntry.name }}</p>
  <p>{{ singleEntry.image }}</p>
  <p>{{ singleEntry.description }}</p>
</div>


<div *ngIf="!ingredients">
    loading ...
</div>

<div>
  <ul *ngIf="ingredients">
    <li *ngFor="let ingredient of ingredients">
      <p>{{ ingredient.name }}</p>
      <input type="number" placeholder="0" [(ngModel)]="quantity">
      <button (click)="sendValues()">Add</button>
    </li>
  </ul>
</div>