body {
  margin: 0;
  padding: 1rem;
  font: 20px/1.5 'Didot',Georgia, serif;
  color: #444;
  background: #FFF;
}
img {
  max-width: 100%;
}
.dishes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dish {
  flex: 1 1 20%;
  border: 1px solid #DFDFDF;
  background: #fff;
  margin: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.dish:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 6px 8px rgba(33, 33, 33, 0.25);
}
.dish-img {
  height:10rem;
  border-radius: 12px;
  overflow-y: hidden;
  background-color: #FFF;
  display: flex;
  justify-content: center;
}
.dish-img img {
  display: block;
  align-self: center;
}
.dish-title {
  text-align: center;
  font-weight: 400;
}
