h1 {
  margin-top: 20px;
  text-align: center;
}

.recipe-info {
  width: 40%;
  margin: 20px auto;
  border: 2px solid black;
}

.recipe-info img {
  width: 300px;
  margin-left: 25%;
}

.recipe-info h2 {
  text-align: center;
}

.recipe-info p {
  padding: 20px;
  text-align: justify;
}
