<div *ngIf="recipe">
  <h1>
    {{recipe.name}}</h1>
  <img [src]="recipe.image" />
  <p>{{recipe.description}}</p>
  <div class="ingredients">
    <strong>Ingredients</strong>

    <ul>
      <li *ngFor="let i of ingredients">
        <span>{{i.name}}</span>
        <form (ngSubmit)="addIngredient(recipe._id, i._id, myForm)" #myForm="ngForm">
          <input type="text" placeholder="quantity" name="quantity" [(ngModel)]="quantity" #ingQuantity="ngModel">
          <button type="submit">Add</button>
        </form>
      </li>
    </ul>
  </div>
  <a [routerLink]="['/']"> < Back </a>
</div>