.details{
  width: 50%;
  margin: 0 auto;
  border: 2px solid red;
  border-radius: 20px;
  padding: 10px;
}

.ingredients{
  list-style: none;
  width: 100%;
  padding: 0;
}

.ingredients button{
  padding: 10px;
}
