<h1>Dish Details</h1>

<button [routerLink]="['']">Back To List</button>

<div *ngIf="dish">
  <h2>{{dish.name}}</h2>
  <div>
  <img [src]="dish.image" height=100/>
  </div>
  <p>{{dish.description}}</p>
  <div>
    <h3>Added Ingredient</h3>
    <span></span>
  </div>

  <h2>List Of Ingredients</h2>
  <div class="ingredients" *ngFor="let ingredient of ingredients">
    <p>{{ingredient.name}}</p>
    <input type="number" #quantityinput>
    <button (click)="addIngredient(ingredient, dish._id, quantityinput.value)">Add</button>
  </div>
</div>
