<div *ngIf="!dish">
  loading...
</div>
<div *ngIf="dish">
  <h2>{{dish.name}}</h2>

  <img src="{{dish.image}}">

  <p>{{dish.description}}</p>

  <ul>
    <li *ngFor="let ingredient of dish.ingredients">
      <h3>{{ingredient.ingredientId.name}}</h3>
      <p>{{ingredient.quantity}}</p>

    </li>
  </ul>
</div>

<h2>Ingredient List</h2>

<ul>
  <li *ngFor="let ingredient of ingredientList">
    <h3>{{ingredient.name}}</h3>
    <p>{{ingredient.description}}</p>
    <input type="number" name="" min="0" placeholder="Quantity" #quantity value="quantity">
    <button (click)="addOneIngredient(quantity.value,ingredient._id)">Add</button>

  </li>
</ul>
