.dish{
  display: flex;
  margin: 20px auto;
  width: 1000px;
  max-width: 100%;
}

img{
  max-width: 100%;
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.text{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}

.ingredients{
  margin-top: 50px;
}