<a [routerLink]="['/']">Back</a>
<h2>New recipe</h2>
<form (ngSubmit)="addRecipe(form)" #form="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="name">
  </div>
  <div>
    <label for="image">Image:</label>
    <input type="text" name="image" [(ngModel)]="image">
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" name="description" [(ngModel)]="description">
  </div>
  <button type="submit">Add</button>
</form>
