<div *ngIf="!recipes" class="recipes-wrapper">
  <p>It's loading... Please wait. <p>
</div>
<div *ngIf="recipes" class="recipes-wrapper">
  <h1>Dishes List</h1>
  <div *ngFor="let recipe of recipes" class="recipes-list">
    <!-- <app-single-entry [entry]="entry"></app-single-entry> -->
    <!-- <a [routerLink]="['/journal-entries', entry._id]"> -->
      <div class="recipe-item">
        <h3>{{ recipe.name }}</h3>
        <img [src]="recipe.image" />
      </div>
    <!-- </a> -->
  </div>
</div>
