<div class='estilo'>
  <div class="card" style="width: 18rem;" *ngIf = "singledish">
    <img class="card-img-top" [src]="singledish.image" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{singledish.name}}</h5>
      <p class="card-text">{{singledish.description}}</p>
      <!-- //<a [routerLink]="['/singledish, dish._id]" class="btn btn-primary">Go somewhere</a> -->
      <a [routerLink] = "['/home']">Back to all dishes</a>
    </div>
  </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Add</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingredient of dishingredients">
        <th scope="row">1</th>
        <td>{{ingredient.name}}</td>
        <td>{{ingredient.description}}</td>
        <td>+</td>
      </tr>