<h3>Recipe List</h3>

<h4>Add Recipe</h4>
<form (ngSubmit)="handleNewRecipe(recipeForm)" #recipeForm="ngForm" >
  <label>name</label>
  <input type="text" name="name" [(ngModel)]="name">
  <label>image</label>
  <input type="text" name="image" [(ngModel)]="image">
  <label>description</label>
  <input type="text" name="description" [(ngModel)]="description">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let recipe of recipeList">
    name: {{ recipe.name }} <br>
    description: {{ recipe.description }} <br>
    image: {{ recipe.image }} <br>
    <a [routerLink]="['recipe', recipe._id]">View Details</a>
  </li>
</ul>


