.container {
  text-align: center;
  height: 1000px;
  margin: 50px;
  border: red;
  padding:50px;
}

.food-card {
  float: left;
  background-color: white;
  display: inline-block;
  margin: 10px;
  border-radius: 30px;
  text-align: center;
  height: 220px;
  width: 15%;
  padding: 10px 10px 20px;
  color: #804cce;
}

.img-food {
  height: 100px;
}

h2 {
  color: #5b9aa0;
  text-align: center;
}

hr {
  display: block;
  margin: 0.5em;
  border-style: inset;
  border-width: 3px;
  border-color: #5b9aa0;
}
