<p>
  {{details.name}}
</p>

<a routerLink="/"> Home </a>
<br>

<img [src]="details.image">
<br>

<p>{{details.description}}</p>
<br>

<div *ngIf="details.ingredients && details.ingredients.length > 0">
<ul>
  <li *ngFor="let ing of details.ingredients">
    <h3> {{ing.ingredientId.name}} X {{ing.quantity}}</h3>
  </li>
</ul>
</div>

<a routerLink="/add-ing"> Add new Ingredient </a>

<ul>
  <li *ngFor="let ingredient of ingredients; let i = index">
    <h3> {{ingredient.name}}</h3>
    <p> {{ ingredient.description }}</p>
    <br>
    <form (ngSubmit)="addIngredient(details._id, ingredient._id, quantity[i], ingredient)">

    <br>
    <label for="quantity">Quantity</label>
    <input  id="quantity" type="number" name="quantity"
      [(ngModel)]="quantity[i]">

    <button> Add </button>
    </form>
  </li>
</ul>
