.ingredient-pill {
  font-size: 10pt;
  color: grey;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding: 12px 8px;
  height: 18px;
  min-width: 190px;
  margin: 10px 6px;
  border-radius: 4px;
  border: 1px solid rgb(226, 226, 226);
  text-align: center;
  transition: cubic-bezier(0.23, 1, 0.320, 1) .8s;
}

.ingredient-pill:hover {

  background-color: rgb(252, 252, 252);
  box-shadow: 0px 3px 5px rgb(228, 228, 228);
  
}
.inputDiv {
  display: inline-block;
  margin-left: 20px;
}

input {
  color: grey;
  margin: 0 10px;
  width: 40px;
  background-color: rgb(248, 248, 248);
  border: 1px rgb(233, 233, 233) solid;
}