<a routerLink="/">Back to Recipes</a>

<h2> {{recipeInfo.name}} </h2>


<img [src] = "recipeInfo.image" />

<p> {{ recipeInfo.description }}</p>

<ul *ngIf="recipeInfo.ingredients && recipeInfo.ingredients.length > 0" >
  <li *ngFor = "let oneIngredient of recipeInfo.ingredients">
    {{recipeInfo.ingredients}}
  </li>
</ul>


<button (click) = "showForm()"> Add an Ingredient </button>

<app-add-ingredient
  *ngIf="isFormOn"
  (newIngredientNotifier)="handleNewIngredient($event)">
</app-add-ingredient>
