.eachDish{
    width: 250px;
    border: 1px solid red;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

h1{
    -webkit-margin-after:0;
}

.form1{
    margin-top: 20px;
}

.formWrap{
    display: flex;
    justify-content: space-around
}